img {
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.pic_tip {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(101, 101, 101);
    font-size: 14px;
    margin-top: 5px;
}