/* This file is used to style the articles */

body {
    margin: 0;
    padding: 0;
    font-family: MiSans;
    background-color: cornsilk;
    background-image: url(img/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 40px;
    margin: 0 10px;
}

@media (min-width: 601px) {
    body {
        margin: 0;
        padding: 0;
        font-family: MiSans;
        background-color: cornsilk;
        background-image: url(img/bg2.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding-top: 40px;
        margin: 0 10px;
    }
}

.block-divs {
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    margin: auto;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgb(222, 184, 135);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 5px;
}

.button:hover {
    background-color:rgb(228, 191, 142);
}

.centerpst {
    text-align: center;
}

.centerpst .button {
    color: white;
    text-decoration: none;
}

.centerpst .button:hover {
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #448AFF;
    height: 40px;
    z-index: 1000; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content p {
    color: white;
    font-size: 16px;
    margin: 0;
    margin-right: 30px;
}

.nav {
    display: flex;
    margin-right: 30px;
}

.nav a {
    color: white!important;
    margin: 0 5px!important;
    text-decoration: none!important;
}

.scroll-text {
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.content {
    text-align: center;
}

footer {
    text-align: center;
}

b {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

hr {
    background-color: #448AFF;
    max-width: 600px;
}

details {
    margin-left: 5px;
}

details p {
    color: black;
}

summary {
    outline: none;
}

a, a:visited {
    color: #00C853;
    text-decoration: none;
}

a:hover {
    color: #00e15e;
    text-decoration: underline;
}

.pic_tip {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(101, 101, 101);
    font-size: 14px;
    margin-top: 5px;
}

.heze2024_1 p {
    text-align: center;
}

.heze2024_3 p {
    text-align: center;
}

.heze2024_0 {
    border-radius: 10px;
    padding: 12px;
    padding-top: 15px;
    padding-bottom: 1px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    margin: auto;
    background-color: rgba(255, 240, 160, 0.8);
}

.heze2024 {
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
}

.heze2024 img {
    max-width: 100%;
    margin: auto;
    display: block;
    border-radius: 7px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
